body{

font-family:Segoe UI;
margin:0;
background:#f4f6f9;

}

.navbar{

background:#381343a1;
color:white;
padding:15px;

display:flex;
justify-content:space-between;

}

.container{

padding:20px;

display:grid;
grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
gap:20px;

}

.card{

background:white;
padding:20px;
border-radius:10px;

box-shadow:0 0 10px rgba(0,0,0,0.1);

}

input, select{

width:100%;
padding:10px;
margin:10px 0;

}

button{

padding:8px 15px;
background:#667eea;
color:white;
border:none;
cursor:pointer;

}

.delete{

background:red;

}

.item{

margin-top:10px;

}

.sub-item{

margin-left:15px;

}

.chapter{

margin-left:30px;

}

.note{

margin-left:45px;

}

.logout{

background:black;

}
