<!DOCTYPE html>
<html>
<head>

<title>M-MATH Student</title>

<link rel="stylesheet" href="/static/dashboard.css">

<script src="/static/script.js"></script>

</head>

<body>

<div class="navbar">

<h2>M-MATH Student</h2>

</div>

<div class="container">

<h3>Select Class</h3>

<select id="classSelect" onchange="loadSubjects()">

<option value="">Select Class</option>

{% for c in classes %}

<option value="{{c.id}}">
{{c.name}}
</option>

{% endfor %}

</select>


<h3>Subjects</h3>

<select id="subjectSelect" onchange="loadChapters()">

<option>Select Subject</option>

</select>


<h3>Chapters</h3>

<select id="chapterSelect" onchange="loadNotes()">

<option>Select Chapter</option>

</select>


<h3>Notes</h3>

<div id="notesList"></div>

</div>

</body>
</html>
