<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>M-MATH Student</title>

<link rel="stylesheet" href="/static/dashboard.css">

<script src="/static/script.js"></script>

</head>

<body>

<div class="navbar">

<div class="nav-left">

<h2>M - MATH</h2>
<span class="role">STUDENT</span>

</div>

<img src="/static/logo.png" class="nav-logo">

</div>


</div>

<div class="container">

<h3>Select Class</h3>

<select id="classSelect" onchange="loadSubjects()">

<option value="">Select Class</option>

{% for c in classes %}

<option value="{{c.id}}">
{{c.name}}
</option>

{% endfor %}

</select>


<h3>Subjects</h3>

<select id="subjectSelect" onchange="loadChapters()">

<option>Select Subject</option>

</select>


<h3>Chapters</h3>

<select id="chapterSelect" onchange="loadNotes()">

<option>Select Chapter</option>

</select>


<h3>Notes</h3>

<div id="notesList"></div>

</div>

</body>
</html>
